# Supabase Configuration
SUPABASE_URL=https://fendtnsspplwehzagdgj.supabase.co
SUPABASE_KEY=sb_publishable_7kx1UWYtb-UDbRtAKhVxUA_Mx-6l9fi
SUPABASE_SERVICE_KEY=your_secret_key_here

# Flask Configuration
SECRET_KEY=your-secret-key-here

# Email Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-16-digit-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com

# App Settings
FLASK_ENV=production
SITE_NAME=Golden Kitchen Nigeria
